[Unit]
Description=Start swayidle to turn off monitor after 30 seconds
After=network.target

[Service]
ExecStart=/home/andreas/idle.bash
User=andreas
Group=andreas

[Install]
WantedBy=graphical-session.target
